.table-editor-remove-row-control {
   background: none;
   border: none;
   outline: none;
}


.table-editor-remove-row-control:hover {
   border-left: 3px solid black;
   cursor: w-resize;
}


.table-editor-remove-row-control-active {
   background-color: red;
   background-image: url('../../../../icons/closeIcon.svg');
   background-position-y: center;
   background-repeat: no-repeat;
   background-size: contain;
   border: 3px solid black;
}