.table-add-row-control-cell {
   border: 1px solid black;
   border-top: none;
   height: .1rem;
}

.table-add-row-control-cell-active {
   background-color: lightgray;
   cursor: url('../../../../icons/addRowIcon.svg'), auto;
   height: 1.8rem;
   transition: height .5s;
}