.table-editor-page-wrapper {
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 2px black;
   display: flex;
   flex-direction: column;
   height: 88vh;
   justify-content: space-between;
   margin: 4vh 4vw;
   overflow: auto;
   padding: 2vh 2vw;
}


.table-editor-page-wrapper h2 {
   margin: 0 0 2rem 2rem;
}


.table-editor-page-control-wrapper {
   display: flex;
   justify-content: space-between;
   margin: 5rem 2rem 2rem 2rem;
}