.table-editor-page-wrapper {
   display: flex;
   flex-direction: column;
   height: 88vh;
   justify-content: space-between;
   margin: 4vh 4vw;
   overflow: auto;
   padding: 2vh 2vw !important;
}


.table-editor-page-wrapper h2 {
   margin: 0 0 2rem 2rem;
}


.table-editor-page-control-wrapper {
   display: flex;
   justify-content: space-between;
   margin: 5rem 2rem 2rem 2rem;
}