.table-content-row-control-cell {
   border: none;
   width: 1rem;
}

.table-content-row-control-cell:hover {
   cursor: url('../../../../icons/deleteRowIcon.svg'), auto;
}

.table-content-row-control-cell-active {
   border: 1px solid black;
   width: 1rem;
}

.table-content-row-control-cell-active:hover {
   background-color: red;
   border: 3px solid black;
   cursor: pointer;
}

.table-content-row-cell-active {
   border-bottom: 3px solid black;
   border-top: 3px solid black;
}