.table-editor-add-column-control-wrapper {
   display: flex;
   justify-content: right;
}


.table-editor-add-column-control {
   width: .25rem;
}


.table-editor-add-column-control-active {
   background-color: lightgray;
   cursor: url('../../../../icons/addColumnIcon.svg'), auto;
   width: 2rem;
}


.table-editor-add-column-control-row-hightlight-active {
   border-right: 3px solid black;
}