.table-editor-remove-column-control {
   background: none;
   border: none;
   height: 2rem;
   outline: none;
}


.table-editor-remove-column-control:hover {
   border-bottom: 3px solid black;
   cursor: s-resize;
}


.table-editor-remove-column-control-active {
   background-color: red;
   background-image: url('../../../../icons/closeIcon.svg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   border: 3px solid black;
}