.table-title-content-title-display-button {
   background-color: gray;
   border: none;
   height: 100%;
   width: 100%;
}


.table-title-content-title-display-button:hover, 
.table-title-content-title-display-button:focus {
   background-color: lightgray;
   border: 1px solid black;
   outline: none;
}


.table-title-content-dialog {
   column-gap: 1rem;
   display: grid;
   grid-template-columns: 1fr 2fr;
   justify-items: left;
   row-gap: 1rem;
}


.table-title-content-dialog input {
   width: 96%;
}


.table-title-content-dialog select {
   width: 100%;
}


.table-title-content-dialog-control-wrapper {
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
}


.table-title-content-dialog-control-close-button {
   border: 1px solid black;
   font-weight: bold;
}


.table-title-content-dialog-control-close-button:hover {
   background-color: lightgray;
}