* {
   margin: 0;
   font-family: "Open Sans", "Times", sans-serif !important;
}


body {
   background-color: rgb(230, 230, 230);
}


dialog {
   background-color: rgb(230, 230, 230);
   left: 40%;
   top: 40%;
}


.page-wrapper {
   align-items: center;
   display: flex;
   height: 100vh;
   justify-content: center;
   width: 100vw;
}


.control-wrapper {
   border-color: rgb(19, 19, 104);
   border: 3px solid black;
   border-radius: 10px;
   box-shadow: 2px 2px 2px black;
   padding: 2rem;
}


.app-button {
   background-color: rgb(19, 19, 104);
   border: 1px solid black;
   border-radius: 10px;
   color: white;
   font-size: medium;
   font-weight: bold;
   padding: .5rem;
}


.app-button:hover,
.app-button:focus {
   background-color: rgb(46, 46, 219);
   transition: background-color .7s;
}