* {
   margin: 0;
   font-family: "Open Sans", "Times", sans-serif !important;
}


body {
   background-color: rgb(230, 230, 230);
}


dialog {
   background-color: rgb(230, 230, 230);
   left: 40%;
   top: 40%;
}


.app-button {
   background-color: rgb(19, 19, 104);
   border: 1px solid black;
   border-radius: 10px;
   color: white;
   font-size: medium;
   font-weight: bold;
   padding: .5rem;
}


.app-button:hover,
.app-button:focus {
   background-color: rgb(46, 46, 219);
   transition: background-color .7s;
}