.table-editor-content-cell-wrapper {
   border: 1px solid black;
   display: grid;
   grid-template-columns: auto 2rem;
   grid-template-rows: auto 2rem;
}


.table-editor-content-cell-wrapper-is-title {
   background-color: gray;
}


.table-editor-content-cell-wrapper-row-highlight-active {
   border-bottom: 3px solid black;
   border-top: 3px solid black;
}


.table-editor-content-cell-wrapper-column-highlight-active {
   border-left: 3px solid black;
   border-right: 3px solid black;
}


.table-editor-content-cell-wrapper-column-highlight-active-last-row {
   border-bottom: 3px solid black;
}


.table-editor-content-cell-content-wrapper {
   min-height: 4rem;
   padding: 2rem 0 0 2rem;
}


.table-editor-content-cell-content {
   border: none;
   height: 100%;
   width: 100%;
}


.table-editor-content-cell-add-column-control-wrapper {
   display: flex;
   flex-direction: row-reverse;
}


.table-editor-content-cell-add-column-control {
   background: none;
   border: none;
   height: 100%;
   width: 50%;
}


.table-editor-content-cell-add-column-control-active {
   background-color: lightgray;
   border: none;
   cursor: url('../../../../icons/addColumnIcon.svg'), auto;
   height: 100%;
   width: 100%;
}


.table-editor-content-cell-add-row-control-wrapper {
   display: flex;
   flex-direction: column-reverse;
}


.table-editor-content-cell-add-row-control {
   background: none;
   border: none;
   height: 50%;
   width: 100%;
}


.table-editor-content-cell-add-row-control-active {
   background-color: lightgray;
   border: none;
   cursor: url('../../../../icons/addRowIcon.svg'), auto;
   height: 100%;
   width: 100%;
}